@import '~@angular/material/theming';

$teal: (
  50: #008080,
  100: #008080,
  200: #008080,
  300: #008080,
  400: #008080,
  500: #008080,
  600: #008080,
  700: #008080,
  800: #008080,
  900: #008080,
  A100: #008080,
  A200: #008080,
  A400: #008080,
  A700: #008080,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$cyan: (
  50: #03a9f4,
  100: #03a9f4,
  200: #03a9f4,
  300: #03a9f4,
  400: #03a9f4,
  500: #03a9f4,
  600: #03a9f4,
  700: #03a9f4,
  800: #03a9f4,
  900: #03a9f4,
  A100: #03a9f4,
  A200: #03a9f4,
  A400: #03a9f4,
  A700: #03a9f4,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cv-app-primary: mat-palette($teal);
$cv-app-accent:  mat-palette($cyan, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cv-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cv-app-theme: mat-light-theme($cv-app-primary, $cv-app-accent, $cv-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cv-app-theme);