.forgot-action-area {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.forgotTypeGroup {
    width: 100%;
    height: 32px;
}
.forgotTypeButton {
    margin-top: -8px; color: darkslategray 
}