<div *ngIf="!displayMessage" class="mat-elevation-z0 signup-card" flex="50">


  <!-- <mat-card *ngIf="!displayMessage" class="mat-elevation-z0 signup-card" flex="50"> -->
  <mat-card-header class="title-container"><br>
    <mat-card-title> <span class="title" style="margin-left: -16px">Forgot Password</span> </mat-card-title>
  </mat-card-header>
  <!-- <mat-card-content> -->
  <mat-button-toggle-group class="forgotTypeGroup" [value]="IND" (change)="forgotPwdTypeChanged($event.value)"
    [disabled]="forgotRequestState.requestInProgress">
    <mat-button-toggle class="forgotTypeButton" [fxFlex]=50 [value]="type" *ngFor="let type of forgotRequestType">
      {{type}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <form *ngIf="forgotTypeValue == IND" class="signup-form-container" [formGroup]="forgotFormGroup" (ngSubmit)="forgot()" autocomplete="off">
    <mat-form-field style="width: 100%">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter email">
      <mat-error *ngIf="email.invalid">{{getEmailValidationMessage()}}</mat-error>
    </mat-form-field>
    <div style="margin: auto">
      <re-captcha formControlName="recaptcha"></re-captcha>
    </div>
    <div class="forgot-action-area">

      <mat-spinner *ngIf="forgotRequestState.requestInProgress" [diameter]="30" style="align-self: center">
      </mat-spinner>
      <button mat-raised-button *ngIf="!forgotRequestState.requestInProgress" color="primary" type="submit" [disabled]="forgotFormGroup.invalid"
        >Submit</button>
    </div>
  </form>

  <form *ngIf="forgotTypeValue == ORG" class="signin-form-container" [formGroup]="forgotOrgFormGroup"
    (ngSubmit)="forgot()" autocomplete="off">
    <div style="display: flex; flex-direction: row">

      <mat-form-field [fxFlex]="60">
        <mat-label>User Email ID</mat-label>
        <input matInput formControlName="email" placeholder="Enter User Email ID">
        <mat-error *ngIf="emailOrg.invalid">{{getEmailValidationMessage()}}</mat-error>
      </mat-form-field>
      <div [fxFlex]="2"></div>
      <mat-form-field [fxFlex]="38">
        <mat-label>Organization ID</mat-label>
        <input matInput formControlName="orgid" placeholder="Enter Org ID">
        <mat-error *ngIf="orgid.invalid">{{getOrgIdValidationMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div style="margin: auto">
        <re-captcha formControlName="recaptcha"></re-captcha>
      </div>
      <div class="forgot-action-area">
  
        <mat-spinner *ngIf="forgotRequestState.requestInProgress" [diameter]="30" style="align-self: center">
        </mat-spinner>
        <button mat-raised-button *ngIf="!forgotRequestState.requestInProgress" color="primary" type="submit"
          [disabled]="forgotOrgFormGroup.invalid">Submit</button>
      </div>
  </form>

  <!-- </mat-card-content> -->
</div>


<div *ngIf="displayMessage" class="mat-elevation-z0 signup-card" flex="50">
  <!-- <mat-card *ngIf="!displayMessage" class="mat-elevation-z0 signup-card" flex="50"> -->
  <mat-card-header class="title-container"><br>
    <mat-card-title> <span class="title" style="margin-left: -16px">Forgot Password</span> </mat-card-title>
  </mat-card-header>

  <!-- <mat-card-content> -->
  <div style="display: flex; flex-direction: column">
    {{forgotPwdResponse.message}}
    <div>
      <div fxFlex></div>
      <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
    </div>
  </div>
  <!-- </mat-card-content> -->

</div>