.pagenotfound-card{
    padding: 24px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
}

.pagenotfound-container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}