<mat-card class="mat-elevation-z0 main-card">
  <form [formGroup]="searchForm">

    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <!-- <mat-icon matPrefix color="primary">search</mat-icon> -->
      <input matInput placeholder="{{getHintAndValidator()}}" formControlName="searchKey">

      <mat-hint style="height: 24px;">
        <mat-radio-group formControlName="searchBy" (change)="getHintAndValidator()">
          <mat-radio-button color='primary' value="hash" style="margin-right: 16px" [checked]='true'>Search By Hash
          </mat-radio-button>
          <mat-radio-button color='primary' value="txnId" style="margin-right: 16px">Search By TxnId</mat-radio-button>
          <mat-radio-button *ngIf="isLoggedIn" color='primary' value="rollNo">Search By Roll Number</mat-radio-button>
        </mat-radio-group>
      </mat-hint>
      

      <button mat-raised-button matSuffix class="searchButton" color="primary" (click)="searchInPoe()"
        [disabled]="!searchForm.valid" *ngIf="!searchRequestState.requestInProgress">Search</button>
    </mat-form-field>

  </form>
  <br>

  <!-- <span class="pmredlabel">{{msgToUser}}</span> -->
  <div *ngIf="!searchRequestState.showData" class="error-container">
    <mat-spinner [diameter]="30" matSuffix *ngIf="searchRequestState.requestInProgress"></mat-spinner>
    <mat-icon *ngIf="!searchRequestState.requestInProgress">search</mat-icon>
    <div style="margin: 8px;"></div>
    <div>
      {{searchRequestState.msgToUser}}
    </div>

  </div>
  <div *ngIf="searchRequestState.showData && !isSearchByRollNo">
    <mat-card class="mat-elevation-z0" style="padding: 8px; margin-top: -8px; border: 1px solid #dadce0;">
      <mat-card-header>
        <mat-card-title>
          <!-- <h4>Search Details</h4> -->
          <!-- <br>{{queryResponse.result.txId}}</h4> -->
        </mat-card-title>
        <mat-card-subtitle>
          <h3 *ngIf="!queryResponse.result.found">
            <b class="pmredlabel">
               Document Not Found
            </b>
          </h3>
          <h3 *ngIf="queryResponse.result.found">
            <b class="pmgreenlabel"> Document Found </b>
          </h3>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="queryResponse.result.found">
        <table class="pmtable" fxFlex="240">
          <tr class="pmtablerow">
            <td>File Name:</td>
            <td>{{queryResponse.result.fileName}}</td>
          </tr>
          <!-- <tr class="pmtablerow">
            <td>File Type:</td>
            <td>{{queryResponse.result.fileType}}</td>
          </tr> -->
          <tr class="pmtablerow">
            <td>Document Type:</td>
            <td>{{queryResponse.result.documentType}}</td>
          </tr>
          <tr class="pmtablerow">
            <td>Transaction ID:</td>
            <td>{{queryResponse.result.txId}}</td>
          </tr>
          <tr class="pmtablerow">
            <td>SHA256 Hash:</td>
            <td>{{queryResponse.result.sha256Hash}}</td>
          </tr>
          <tr class="pmtablerow">
            <td>Recorded By:</td>
            <td>{{queryResponse.result.issuedByOrg}}</td>
          </tr>
          <tr class="pmtablerow">
            <td>Issued to:</td>
            <td>{{queryResponse.result.issuedTo}}</td>
          </tr>
          <tr class="pmtablerow">
            <td>Timestamp:</td>
            <td>{{queryResponse.result.timestamp.seconds*1000 | date:'yyyy-MM-dd, hh:mm:ss'}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="searchRequestState.showData && isSearchByRollNo">

    <div *ngFor="let card of queryResponseByRollno">
      <mat-card class="mat-elevation-z0" style="padding: 8px; margin: 8px; border: 1px solid #dadce0;">
        <mat-card-header>
          <mat-card-title>
            <!-- <h4>Details</h4> -->
            <!-- <br>{{card.txId}}</h4> -->
          </mat-card-title>
          <mat-card-subtitle>
            <h3 *ngIf="!card.found">
              <b class="pmredlabel">
                 Document Not Found
              </b>
            </h3>
            <h3 *ngIf="card.found">
              <b class="pmgreenlabel"> Document Found </b>
            </h3>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="card.found">
          <table class="pmtable" fxFlex="240">
            <tr class="pmtablerow">
              <td>File Name:</td>
              <td>{{card.fileName}}</td>
            </tr>
            <!-- <tr class="pmtablerow">
              <td>File Type:</td>
              <td>{{card.fileType}}</td>
            </tr> -->
            <tr class="pmtablerow">
              <td>Document Type:</td>
              <td>{{card.documentType}}</td>
            </tr>
            <tr class="pmtablerow">
              <td>Transaction ID:</td>
              <td>{{card.txId}}</td>
            </tr>
            <tr class="pmtablerow">
              <td>SHA256 Hash:</td>
              <td>{{card.sha256Hash}}</td>
            </tr>
            <tr class="pmtablerow">
              <td>Recorded By:</td>
              <td>{{card.issuedByOrg}}</td>
            </tr>
            <tr class="pmtablerow">
              <td>Issued to:</td>
              <td>{{card.issuedTo}}</td>
            </tr>
            <tr class="pmtablerow">
              <td>Timestamp:</td>
              <td>{{card.timestamp.seconds*1000 | date:'yyyy-MM-dd, hh:mm:ss'}}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</mat-card>