<div class="container">

    <mat-card class="mat-elevation-z6">

        <div *ngIf="!changePwdRequestState.showData">
            <mat-card-header>
                <mat-card-title style="margin-left: -16px">Change Password</mat-card-title>
            </mat-card-header>
            <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="changeForgotPassword()" class="form-container" autocomplete="off">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newpassword" type='password' placeholder="New Password">
                    <mat-error *ngIf="newpassword.invalid">{{getNewPasswordValidationMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmpassword" [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Confirm your password">
                    <mat-error *ngIf="confirmpassword.invalid">{{getConfirmPasswordValidationMessage()}}</mat-error>
                    <button type='button' mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon style="font-size: 20px;">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div style="margin: auto">
                    <re-captcha formControlName="recaptcha"></re-captcha>
                  </div>
                <div class="action-area">
                    <mat-spinner *ngIf="changePwdRequestState.requestInProgress" [diameter]="30"
                        style="align-self: center">
                    </mat-spinner>
                    <button mat-raised-button *ngIf="!changePwdRequestState.requestInProgress" color="primary"
                        type="submit" [disabled]="forgotPasswordFormGroup.invalid">Submit</button>
                </div>
            </form>
        </div>
        <div *ngIf="changePwdRequestState.showData">
            <mat-card-header>
                <mat-card-title style="margin-left: -16px">Change Password</mat-card-title>
                <mat-card-subtitle> {{changePwdResponse.status}}</mat-card-subtitle>
            </mat-card-header>
            <button mat-fab color="primary">
                <mat-icon>verified_user</mat-icon>
            </button>
            <h3 style="color: teal">{{changePwdRequestState.msgToUser}}</h3>
            <button mat-stroked-button (click)="takeToLogin()" color='primary'>Go To Login Page</button>
        </div>

    </mat-card>

</div>