.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
}
.action-area {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}