.login-card {
  /* border-radius: 8px;
  text-align: center;
  margin: 8px auto; */
  /* width: 400px; */
  /* height: 375px; */
  position: relative;
  top: 50vh;
  transform: translateY(-50vh);
  min-width: 318px;
}

.login-container {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin: 8px;
}

.login-action-area {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.logo {
  padding-top: 8px;
  padding-bottom: 8px;
  align-self: center;
  width: 100px;
}

.title {
  color: darkslategray;
  font-size: 22px;
  margin-left: 16px;
}
.captcha-container {
  display: flex;
  flex-direction: row
}
/* @media (max-width: 320px) {
  .captcha-container {
    display: flex;
    flex-direction: column
  }
} */

