.logo-container {
    margin-top: 16px;
    background-color: transparent;
    height: 120px;
    width: fit-content;
    border: 1px solid grey;
    border-radius: 8px;
}

.logo {
    /* margin: 0px 24px 0px 0px; */
    align-self: center;
    width: auto;
    height: 80px;
    max-width: 156px;
}
.example-chip-list {
    width: 100%;
  }