<mat-card class="register mat-elevation-z0">

  <!-- <mat-card-header> -->
    <mat-card-title>Add user</mat-card-title>
    <mat-card-subtitle>Fill follwing details to add a new User</mat-card-subtitle>
  <!-- </mat-card-header> -->

  <mat-card-content>
    <form [formGroup]="addUserFormGroup" (ngSubmit)="addUser()">
      <div class="form-container">
        <mat-form-field>
          <input matInput formControlName="fullname" placeholder="Full Name">
          <mat-error *ngIf="fullname.invalid">{{getFullnameValidationMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="username" placeholder="User Name">
          <mat-error *ngIf="username.invalid">{{getUsernameValidationMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput matTooltip="Enter email id" formControlName="email" placeholder="Enter email id">
          <mat-error *ngIf="email.invalid">{{getEmailValidationMessage()}}</mat-error>
          <!-- <mat-icon matPrefix>email</mat-icon> -->
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput formControlName="password" placeholder="Password">
          <mat-error *ngIf="password.invalid">{{getPasswordValidationMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmpassword" [type]="hidePassword ? 'password' : 'text'"
            placeholder="Confirm your password">
          <mat-error *ngIf="confirmpassword.invalid">{{getConfirmPasswordValidationMessage()}}</mat-error>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' :
            'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Centre</mat-label>
          <mat-select formControlName="centre" placeholder="Centre">
            <mat-option *ngFor="let centre of centreList" [value]="centre.name">{{centre.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="centre.invalid">{{getCentreValidationMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" placeholder="Role">
            <mat-option *ngFor="let role of roleList; let i = index" [value]="role">{{role}} - {{permissionList[i]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="role.invalid">{{getRoleValidationMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <mat-spinner class="register-spinner" *ngIf="addUserRequsetState.requestInProgress" [diameter]="30"></mat-spinner>
    <button class="register-button" (click)="addUser()" mat-raised-button *ngIf="!addUserRequsetState.requestInProgress"
      color="primary" type="submit" [disabled]="!addUserFormGroup.valid">ADD</button>
  </mat-card-actions>
</mat-card>