<div class="stat-container">
    <mat-card class="stat-card mat-elevation-z2">
        <!-- <div class="stat-title">
            Number of Transactions
        </div> -->
        <mat-card-content style="margin-bottom: 0px;">
            <div class="stat-content">
                {{totalTransactions}}
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="dash-title">
                Transactions
            </div>
        </mat-card-actions>
    </mat-card>

    <mat-card class="stat-card mat-elevation-z2">
        <mat-card-content style="margin-bottom: 0px;">
            <div class="stat-content">
                {{totalRegisteredUsers}}
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="dash-title">
                Registered Users
            </div>
        </mat-card-actions>
    </mat-card>

    <!-- <mat-card class="stat-card mat-elevation-z0">
        <mat-card-content style="margin-bottom: 0px;">
            <div class="stat-content">
                {{totalOrganizations}}
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="dash-title">
                Organizations in Blockchain Network
            </div>
        </mat-card-actions>
    </mat-card> -->


    <!-- <mat-card class="stat-card mat-elevation-z0">
        <mat-card-content style="margin-bottom: 0px;">
            <div class="stat-content">
                {{totalStudents}}
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="dash-title">
                Students
            </div>
        </mat-card-actions>
    </mat-card> -->

    <!-- <mat-card class="stat-card mat-elevation-z0">
        <mat-card-content style="margin-bottom: 0px;">
            <div class="stat-content">
                {{totalUsers}}
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="dash-title">
                Users
            </div>
        </mat-card-actions>
    </mat-card> -->
</div>