mat-cell {
    display: flex !important;
    justify-content: center!important;
    text-align: center;
}

.mat-row:hover {
    background-color: whitesmoke;
}

.mat-header-cell {
    display: flex;
    justify-content: center;
}

.mat-card-title {
    margin-left: -16px;
}

.error-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-table {
    margin-top: -22px;
    max-height: 55vh;
    overflow: auto;
}

.mat-header-cell {
    color: black;
    font-weight: bold;
}

share-container {
    display: flex;
    flex-direction: rows
}

.shareButton {
    background-color: teal;
    color: white;
}

.action-spinner {
    margin-top: -6px
}

.action-button {
    margin-top: -6px
}

.wrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.label {
    width: 150px;
    color: wheat;
}

.card-container {
    margin-top: -12px;
    max-height: 55vh;
    overflow: auto;
    padding-bottom: 16px;
}

.certificate-card {
    float: left;
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 12px;
}

.card {
    color: white;
    background-color: lightseagreen;
    flex: 1 1 auto;
    width: 256px;
    height: 120px;
}

.main-card {
    height: calc(100% - 32px);
    overflow-y: auto
}