.signup-card{
    /* border-radius: 8px;
    text-align: center;
    margin: 8px auto; */
    /* width: 300px; */
    /* height: 375px; */
    position: relative;
    top: 50vh;
    transform: translateY(-50vh);
  }
  .signup-form-container  {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 8px;
  }
  
  .signup-action-area{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }
  
  .logo{
    padding-top: 8px;
    padding-bottom: 8px;
    align-self: center;
    width: 100px;
  }
  .title{
    color: darkslategray;
    font-size: 22px;
    margin-left: -8px;
  }